* {
  font-family: Helvetica;
}
body {
  text-align: center;
}
header, h3.Info  {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
h1, h2, h3 {
  font-weight: bold;
}
p {
  font-size: 14px
}
a {
  font-size: 18px;
  color: white;
}
footer {
  text-align: left;
  color:white;
  background-color: dimgray;
}
#Copyright {
  font-size: 11px;
}
